
<br>
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center Cuerpo mb-5 mt-5" id="about">
  
  <div class="w-100 m-5">
    <h2 class="mb-1"><span class="texts-primary">{{ 'nombre-person' | translate }}</span></h2>
    <h5>{{ 'personal-data-address' | translate }}</h5>
   
    <div class="subheading mb-3">
      <p>{{ 'personal-data-phone' | translate }} <a href="mailto:Alejandrosubero.ar@gmail.com">{{ 'personal-data-mail' | translate }}</a>
      </p>
    </div>

    <p class="lead mb-4"> {{ 'profecionalDescripcion' | translate }} </p>
  </div>

</section>

<!-- <div id="separator-ribbon"><div class="content bg-primary"></div></div> -->
