<section class="resume-section p-3 p-lg-5 d-flex align-items-center Cuerpo" id="education">
  <div class="w-100">
    <h3 class="mb-4">Education</h3>

    <div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content">
          <h4 class="mb-0"> {{ 'education-1-where' | translate }}</h4>
          <h5 class="subtext mb-0 space-m">{{ 'education-1-country' | translate }}</h5>
          <div class="subtext-m">{{ 'education-1-institute' | translate }}</div>
          <div class="subtext-m">{{'education-1-title' | translate }}</div>
          <div class="subtext-m">{{ 'education-1-topics' | translate }}</div>
          <div class="subtext-m">{{ 'education-1-duration' | translate }}</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ 'education-1-date' | translate }}</span>
        </div>
      </div>


      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content">
          <h4 class="mb-0"> {{ 'education-2-where' | translate }}</h4>
          <h5 class="subtext mb-0 space-m">{{ 'education-2-country' | translate }}</h5>
          <div class="subtext-m">{{ 'education-2-institute' | translate }}</div>
          <div class="subtext-m">{{'education-2-title' | translate }}</div>
          <div class="subtext-m">{{ 'education-2-topics' | translate }}</div>
          <div class="subtext-m">{{ 'education-2-duration' | translate }}</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ 'education-2-date' | translate }}</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content">
          <h4 class="mb-0"> {{ 'education-3-where' | translate }}</h4>
          <h5 class="subtext mb-0 space-m">{{ 'education-3-country' | translate }}</h5>
          <div class="subtext-m">{{ 'education-3-institute' | translate }}</div>
          <div class="subtext-m">{{'education-3-title' | translate }}</div>
          <div class="subtext-m">{{ 'education-3-topics' | translate }}</div>
          <div class="subtext-m">{{ 'education-3-duration' | translate }}</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ 'education-3-date' | translate }}</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content">
          <h4 class="mb-0"> {{ 'education-4-where' | translate }}</h4>
          <h5 class="subtext mb-0 space-m">{{ 'education-4-country' | translate }}</h5>
          <div class="subtext-m">{{ 'education-4-institute' | translate }}</div>
          <div class="subtext-m">{{'education-4-title' | translate }}</div>
          <div class="subtext-m">{{ 'education-4-topics' | translate }}</div>
          <div class="subtext-m">{{ 'education-4-duration' | translate }}</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ 'education-4-date' | translate }}</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content">
          <h4 class="mb-0"> {{ 'education-5-where' | translate }}</h4>
          <h5 class="subtext mb-0 space-m">{{ 'education-5-country' | translate }}</h5>
          <div class="subtext-m">{{ 'education-5-institute' | translate }}</div>
          <div class="subtext-m">{{'education-5-title' | translate }}</div>
          <div class="subtext-m">{{ 'education-1-topics' | translate }}</div>
          <div class="subtext-m">{{ 'education-1-duration' | translate }}</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ 'education-5-date' | translate }}</span>
        </div>
      </div>

    </div>
  </div>
</section>
