/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";


/* .Cuerpo{
    font-weight: bolder;
    background-color: rgb(184, 191, 228);
    background-color: rgb(229, 231, 240);
    color: black;
    z-index: 10;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
} */

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.subtext {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .subtext-m {
      margin-left: 17px;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .space-m{
    margin-left: 10px;
}

.space-m-1{
    margin-left: 6px;
}